
profiles {

    standard {
        process.executor = 'local'
	process.container="metaboigniter-course_docker-v5"
	singularity.enabled = true
    	}

    uppmax {
	process.container="metaboigniter-course_docker-v5"
	process.executor = 'slurm'
	process.time="2h"
	process.cpus="1"
	process.memory="2 GB"
	process.clusterOptions = { "-A $params.project"}
	singularity.enabled = true
	singularity.autoMounts = true
 	}
}

params {
    peakwidthLow = 5
    peakwidthHigh = 10
    noise = 1000
    polarity = 'positive'
}
